# ------------------------------
# Dependencies
# ------------------------------
node_modules/

# ------------------------------
# Logs
# ------------------------------
logs
*.log
npm-debug.log*

# ------------------------------
# Build / Output
# ------------------------------
dist/
build/

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Editor / IDE
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# Runtime Data
# ------------------------------
pids
*.pid
*.seed
*.pid.lock

